{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}

{{- if not .Site.Params.app.noFavicon -}}
    {{- with .Site.Params.app.svgFavicon -}}
        <link rel="icon" href="{{ . }}">
    {{- else -}}
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {{- end -}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    {{- with .Site.Params.app.iconColor -}}
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ . }}">
    {{- end -}}
    <link rel="manifest" href="/site.webmanifest">
{{- end -}}

<link rel="canonical" href="{{ .Permalink }}" />
{{- if .PrevInSection -}}
    <link rel="prev" href="{{ .PrevInSection.Permalink }}" />
{{- end -}}
{{- if .NextInSection -}}
    <link rel="next" href="{{ .NextInSection.Permalink }}" />
{{- end -}}

{{- with .OutputFormats.Get "RSS" -}}
    <link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}">
    <link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}">
{{- end -}}

{{- /* style.min.css */ -}}
{{- $options := dict "Source" "css/style.scss" "Fingerprint" $fingerprint -}}
{{- $toCSS := dict "targetPath" "css/style.min.css" "enableSourceMap" true -}}
{{- $options = dict "Context" . "ToCSS" $toCSS | merge $options -}}
{{- partial "plugin/style.html" $options -}}

{{- /* Font Awesome */ -}}
{{- $source := $cdn.fontawesomeFreeCSS | default "lib/fontawesome-free/all.min.css" -}}
{{- $options := dict "Source" $source "Fingerprint" $fingerprint "Preload" true -}}
{{- partial "plugin/style.html" $options -}}

{{- /* Animate.css */ -}}
{{- $source := $cdn.animateCSS | default "lib/animate/animate.min.css" -}}
{{- $options := dict "Source" $source "Fingerprint" $fingerprint "Preload" true -}}
{{- partial "plugin/style.html" $options -}}

<style>
  @import url(https://db.onlinewebfonts.com/c/47f9ef1694f83081f3916f938915af8d?family=Linux+Biolinum);
  @font-face {
    font-family: "Linux Biolinum";
    font-weight: bold;
    src: url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.eot");
    src: url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/15338a5f29ce0433dd537f31c83c2cba.svg#Linux Biolinum Bold V2")format("svg");
  }
  @font-face {
    font-family: "Linux Biolinum";
    font-style: italic;
    src: url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.eot");
    src: url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/501d7989a37732d94b022a3bce488282.svg#Linux Biolinum Italic V1")format("svg");
  }
</style>
